In [2]:
import pandas as pd

In [5]:
file = './data/subway_data/CARD_SUBWAY_MONTH_201901.csv'

raw = pd.read_csv(file)

In [6]:
raw.head()

       사용일자  노선명   역ID   역명  승차총승객수  하차총승객수      등록일자
0  20190101  경춘선  1323   가평    1520    1436  20190104
1  20190101  경춘선  1322   상천     275     114  20190104
2  20190101  경춘선  1321   청평    1509    1083  20190104
3  20190101  경춘선  1320  대성리     357     271  20190104
4  20190101  경춘선  1319   마석    1772    1963  20190104

In [7]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18334 entries, 0 to 18333
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    18334 non-null  int64
 1   노선명     18334 non-null  object
 2   역ID     18334 non-null  int64
 3   역명      18334 non-null  object
 4   승차총승객수  18334 non-null  int64
 5   하차총승객수  18334 non-null  int64
 6   등록일자    18334 non-null  int64
dtypes: int64(5), object(2)
memory usage: 1002.8+ KB

In [ ]:
# 판다스로 파일 불러올 때 자주 사용하는 옵션
# index_col = 컬럼인덱스 번호  ->  몇 번째 컬럼을 인덱스로 지정할 것인지 선택
# header = row인덱스번호  ->  몇 번째 row부터 표 데이터로 볼 것인지 선택
# thousands = ','  ->  천 단위 기회인 ,사용시 문자가 아닌 숫자로 인식

In [ ]:
### 두 파일을 불러와서 병합하기 ###

In [11]:
# 빈 데이터프레임을 하나 만들고 raw에 넣어준다.
raw = pd.DataFrame()
raw.head()

file1 = './data/subway_data/CARD_SUBWAY_MONTH_201901.csv'
file2 = './data/subway_data/CARD_SUBWAY_MONTH_201903.csv'

temp = pd.read_csv(file1)
raw = raw.append(temp)  # raw에 temp를 넣고 다시 raw에 넣어준다.

temp = pd.read_csv(file2)
raw = raw.append(temp)

In [12]:
raw  # file1의 데이터는 18334개였지만 file2와 합쳐져서 30763개가 됨

           사용일자    노선명   역ID   역명  승차총승객수  하차총승객수      등록일자
0      20190101    경춘선  1323   가평    1520    1436  20190104
1      20190101    경춘선  1322   상천     275     114  20190104
2      20190101    경춘선  1321   청평    1509    1083  20190104
3      20190101    경춘선  1320  대성리     357     271  20190104
4      20190101    경춘선  1319   마석    1772    1963  20190104
...         ...    ...   ...  ...     ...     ...       ...
12424  20190331    중앙선  1215   아신     618     564  20190403
12425  20190331    중앙선  1216   오빈     292     264  20190403
12426  20190331    중앙선  1217   양평    2907    2644  20190403
12427  20190331    중앙선  1218   원덕     492     483  20190403
12428  20190331  우이신설선  4704  가오리    2538    2424  20190403

[30763 rows x 7 columns]

In [ ]:
### 특정 폴더에 있는 모든 파일을 불러와서 병합하기 ###

In [13]:
import os

In [18]:
dirpath = './data/subway_data/'

files = os.listdir(dirpath) # 해당 폴더 안에 어떤 파일들이 있는지 보여줌
files

['CARD_SUBWAY_MONTH_201901.csv',
 'CARD_SUBWAY_MONTH_201902.csv',
 'CARD_SUBWAY_MONTH_201903.csv',
 'CARD_SUBWAY_MONTH_201904.csv',
 'CARD_SUBWAY_MONTH_201905.csv',
 'CARD_SUBWAY_MONTH_201906.csv']

In [24]:
# 파일 병합하는 과정

# 1. 빈 데이터프레임 준비
raw = pd.DataFrame()

# 2. 반복문 -> csv 파일 읽기 -> 데이터프레임에 추가
for file in files:
    temp = pd.read_csv(dirpath + file)  # 경로와 함께 넣어줘야함
    raw = raw.append(temp)
    # raw = raw.append(temp, ignore_index = True)  4) 아래 방법들 말고 이렇게 해도 됨.

raw.head()

       사용일자  노선명   역ID   역명  승차총승객수  하차총승객수      등록일자
0  20190101  경춘선  1323   가평    1520    1436  20190104
1  20190101  경춘선  1322   상천     275     114  20190104
2  20190101  경춘선  1321   청평    1509    1083  20190104
3  20190101  경춘선  1320  대성리     357     271  20190104
4  20190101  경춘선  1319   마석    1772    1963  20190104

In [25]:
raw.tail()
# 1) 마지막 인덱스는 17723인데,

           사용일자  노선명  역ID     역명  승차총승객수  하차총승객수      등록일자
17719  20190630  2호선  204  을지로4가    4940    4668  20190703
17720  20190630  2호선  203  을지로3가   12043   11854  20190703
17721  20190630  2호선  202  을지로입구   31622   29723  20190703
17722  20190630  2호선  201     시청   10178    8214  20190703
17723  20190630  1호선  159    동묘앞   13859   14352  20190703

In [26]:
raw.info()
# 2) 전체 데이터 개수는 99342개임.
#    위의 인덱스 번호는  201906.csv의 마지막 번호기 때문.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99342 entries, 0 to 17723
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    99342 non-null  int64
 1   노선명     99342 non-null  object
 2   역ID     99342 non-null  int64
 3   역명      99342 non-null  object
 4   승차총승객수  99342 non-null  int64
 5   하차총승객수  99342 non-null  int64
 6   등록일자    99342 non-null  int64
dtypes: int64(5), object(2)
memory usage: 6.1+ MB

In [28]:
# 따라서 인덱스 번호를 전부 초기화해야함.
raw.reset_index(drop = True)  # drop = True 옵션은 기존 인덱스번호를 없애는 것.

           사용일자  노선명   역ID     역명  승차총승객수  하차총승객수      등록일자
0      20190101  경춘선  1323     가평    1520    1436  20190104
1      20190101  경춘선  1322     상천     275     114  20190104
2      20190101  경춘선  1321     청평    1509    1083  20190104
3      20190101  경춘선  1320    대성리     357     271  20190104
4      20190101  경춘선  1319     마석    1772    1963  20190104
...         ...  ...   ...    ...     ...     ...       ...
99337  20190630  2호선   204  을지로4가    4940    4668  20190703
99338  20190630  2호선   203  을지로3가   12043   11854  20190703
99339  20190630  2호선   202  을지로입구   31622   29723  20190703
99340  20190630  2호선   201     시청   10178    8214  20190703
99341  20190630  1호선   159    동묘앞   13859   14352  20190703

[99342 rows x 7 columns]

In [29]:
# 요일 추가하기

from datetime import datetime

In [34]:
# datetime.strptime('날짜str',str형태):문자 -> 날짜 타입
#     str형태 : %Y-%m-%d %H:%M:%S
#     %Y : 연도(4자리)
#     %m : 월(2자리)
#     %d : 일자(2자리)
#     %H : 시
#     %M : 분
#     %S : 초

# 예시)
# s = '2019-01-05'
# datetime.strptime(s, '%Y-%m-%d')

s = '20190630'   # 만약 - 가 없으면 아래에도 -를 빼준다
date = datetime.strptime(s, '%Y%m%d')
date

datetime.datetime(2019, 6, 30, 0, 0)

In [36]:
# 날짜타입으로 요일을 변경할 때는 weekday()를 사용한다.
# 월요일 : 0 ~ 일요일 : 6

# 예시)
# 0 ~ 6 으로 표기된 요일을 list 에 넣어서 다시 문자로 바꿈
weekday_dict = ['월', '화', '수', '목', '금', '토', '일']
weekday_index = date.weekday()
print(weekday_index)  # 6
print(weekday_dict[weekday_index])  # 일

6
일

In [38]:
# 날짜 컬럼을 불러와서 순서대로 요일을 점검하여 리스트에 저장하기

weekday_dict = ['월', '화', '수', '목', '금', '토', '일'] # 4)

weekday_list = [ ] # 6)

for date_str in raw['사용일자']:  # 1)
    date = datetime.strptime(str(date_str),'%Y%m%d') # 2) # date_str을 문자열 형태로 바꿔줘야 함.
    weekday_index = date.weekday() # 3)
    weekday = weekday_dict[weekday_index] # 5)
    
    weekday_list.append(weekday)  # 7)

In [39]:
raw['요일'] = weekday_list

raw.head()

       사용일자  노선명   역ID   역명  승차총승객수  하차총승객수      등록일자 요일
0  20190101  경춘선  1323   가평    1520    1436  20190104  화
1  20190101  경춘선  1322   상천     275     114  20190104  화
2  20190101  경춘선  1321   청평    1509    1083  20190104  화
3  20190101  경춘선  1320  대성리     357     271  20190104  화
4  20190101  경춘선  1319   마석    1772    1963  20190104  화

In [40]:
raw.sample(10)  # sample()은 무작위 데이터를 불러옴

           사용일자  노선명   역ID         역명  승차총승객수  하차총승객수      등록일자 요일
5918   20190211  6호선  2630  녹사평(용산구청)    5451    5340  20190214  월
9292   20190116  4호선   433         사당   31381   26870  20190119  수
11786  20190220  일산선  1951         원당   13317   12721  20190223  수
16388  20190430  중앙선  1215         아신     895     954  20190503  화
11072  20190329  5호선  2559         개롱    8537    8468  20190401  금
7042   20190512  경인선  1814         소사    9619    9064  20190515  일
11113  20190119  2호선   208  왕십리(성동구청)   17467   15091  20190122  토
3842   20190207  8호선  2822         산성    5453    5336  20190210  목
1469   20190603  9호선  4115        여의도   26548   26439  20190606  월
9099   20190416  경춘선  1313         별내    3231    2991  20190419  화

In [41]:
# 요일이 사용일자 다음에 나오도록 컬럼 순서를 변경하기

# 먼저 전체 컬럼을 확인하고
raw.columns

Index(['사용일자', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자', '요일'], dtype='object')

In [50]:
# 복붙한 뒤 순서를 바꿔준다
raw = raw[['사용일자', '요일', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자']]
raw.head()

       사용일자 요일  노선명   역ID   역명  승차총승객수  하차총승객수      등록일자
0  20190101  화  경춘선  1323   가평    1520    1436  20190104
1  20190101  화  경춘선  1322   상천     275     114  20190104
2  20190101  화  경춘선  1321   청평    1509    1083  20190104
3  20190101  화  경춘선  1320  대성리     357     271  20190104
4  20190101  화  경춘선  1319   마석    1772    1963  20190104

In [46]:
# 정리한 데이터 저장하기

In [51]:
fpath = './data/subway_data/subway_raw.xlsx'

raw.to_excel(fpath, index = False)